<!DOCTYPE html>
<html>
    <head>
        <title>Seat Matrix</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                      
                            <div class="form-group">
                                <label>Username:</label> <input type="text" name="username" placeholder="Username" required="true">
                            </div>
                            <div class="form-group">
                                <label>Email:</label> <input type="Email" name="email" placeholder="email ID" required="true">
                            </div>
                            <div class="form-group">
                              <label>Contact:</label>  <input type="number" name="contact" required="true">
                            </div>
                            <div class="form-group">
                               <label><p>Total Amount:<span id="amount"></span>/- INR</p> </label>
                            </div>
            
                            <div style="padding: 20px; margin-bottom: 10px;"class="inputForm">
                                    <h2>fill the required details below and select your seats</h2>
                                    <div >
                                        
                                        <div class="agileits-right">
                                            <label> Number of Seats
                                                <span>*</span>
                                            </label>
                                            <input type="number" name="seatNum" id="Numseats" required min="1">
                                        </div>
                                    </div>
                                    
                                </div>

                               
                            
                                      <button type="button" class="btn btn-large btn-primary" onclick="takeData(); money();" data-toggle="modal" data-target="#myModal">Start Selecting</button>
                  
                    <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                          
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                        <ul class="seat_w3ls">
                                                <li class="smallBox greenBox">Selected Seat</li>
                          
                                                <li class="smallBox redBox">Reserved Seat</li>
                          
                                                <li class="smallBox emptyBox">Empty Seat</li>
                                          </ul>
                                          
                                          
                                          
                                         <div class="seatStructure txt-center" style="overflow-x:auto;">
                                          <table id="seatsBlock">
                                              <p id="notification"></p>
                                              <tr>
                                                  <td></td>
                                                  <td>1</td>
                                                  <td>2</td>
                                                  <td>3</td>
                                                  <td>4</td>
                                                  <td>5</td>
                                                  <td></td>
                                                  <td>6</td>
                                                  <td>7</td>
                                                  <td>8</td>
                                                  <td>9</td>
                                                  <td>10</td>
                                                 
                                              </tr>
                                              <tr>
                                                  <td>A</td>
                                                 <%for(var i=0;i<10;i++){%>
                          
                                                 <% if(screen.seats[i].available==true){%>
                                                 <td>
                          
                                                     <input type="checkbox" name="check_list[]" class="seats" value="<%=screen.seats[i].id%>">
                                                 </td>
                                                 <%} else {%>
                                                 <td>
                                                     
                                                 </td>
                                                 <%if(i==4){%>
                                                      <td class="seatGap"></td>
                                                      <%}%>
                                                 <%}};%>
                          
                          
                                              </tr>
                                               <tr>
                                                  <td>B</td>
                                                 <%for(var i=10;i<20;i++){%>
                          
                                                 <% if(screen.seats[i].available==true){%>
                                                 <td>
                                                      
                                                     <input type="checkbox" name="check_list[]" class="seats" value="<%=screen.seats[i].id%>">
                                                 </td>
                                                 <%} else {%>
                                                 <td>
                                                   
                                                 </td>
                                                 <%if(i==14){%>
                                                      <td class="seatGap"></td>
                                                      <%}%>
                                                 <%}};%>
                          
                          
                                              </tr>
                          
                                              
                                          </table>
                          
                                          <div class="screen">
                                              <h2 class="wthree">Screen this way</h2>
                                          </div>
                                          <button type="submit">Confirm Selection</button>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                          
                            </div>
                          </div>
                           
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-lg" id="myBtn">Login</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
       
    <!-- //js -->
    <!-- script for seat selection -->
   <script>
       $(document).ready(function() {
    $("#MyModal").modal();
  });
        function money(){
            var Numseats=$("#Numseats").val();
            var amt=Numseats*200;
            document.querySelector("#amount").innerHTML=amt;

        }

        function onLoaderFunc() {
            $(".seatStructure *").prop("disabled", true);
            $(".displayerBoxes *").prop("disabled", true);
        }

        function takeData() {


            if (($("#Numseats").val().length == 0)) {
                alert("Please Enter your Name and Number of Seats");
            } else {
                $(".inputForm *").prop("disabled", true);
                $(".seatStructure *").prop("disabled", false);
                $(".disabled_seats").prop("disabled",true);

                document.getElementById("notification").innerHTML =
                    "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
            }
        }


        function updateTextArea() {

            if ($("input:checked").length == ($("#Numseats").val())) {
                $(".seatStructure *").prop("disabled", true);

                var allNameVals = [];
                var allNumberVals = [];
                var allSeatsVals = [];

                //Storing in Array
                allNameVals.push($("#Username").val());
                allNumberVals.push($("#Numseats").val());
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals.push($(this).val());
                });

                //Displaying 
                $('#nameDisplay').val(allNameVals);
                $('#NumberDisplay').val(allNumberVals);
                $('#seatsDisplay').val(allSeatsVals);
            } else {
                alert("Please select " + ($("#Numseats").val()) + " seats")
            }
        }


        function myFunction() {
            alert($("input:checked").length);
        }

        $(":checkbox").click(function () {
            if ($("input:checked").length == ($("#Numseats").val())) {
                $(":checkbox").prop('disabled', true);
                $(':checked').prop('disabled', false);
            } else {
                $(":checkbox").prop('disabled', false);
            }
        });
    </script>
    <!-- //script for seat selection -->

    </body>
</html>