<!DOCTYPE html>
<html>
     <head>
          <title>MBook</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
          <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <style>
               input[type="text"]{
                    margin-top: 5px;
                    height: 40px;
                    margin-left: 20px;
                    width: 250px;
                    padding: 6px 10px;
                    font-size: 20px;
                    
               }
          </style>
     <body>
          <nav class="navbar navbar-inverse" >
     <div class="container-fluid">
          
              <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span> 
                     </button>
                     <a class="navbar-brand" href="/index">MBook</a>
                                
      
               </div>   
      
          
          <div class="collapse navbar-collapse" id="myNavbar">

               <ul class="nav navbar-left navbar-nav">
                         <li><a class="navbar-brand" href="/"><i class="icomoon icon-film"></i></a></li>
                    <li> <a href="/index">Book Movies</a></li>
                   
                 
               </ul>

               <ul class="nav navbar-right navbar-nav">

                   
                   <% if(!admin){%>
                   <li><a href="/admin/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                   <li><a href="/admin/signup"><span class="glyphicon glyphicon-user"> SignUp</a></li>

                        
                   <% }else if(admin.isAdmin){%>
                    <li><a href="/profile">Welcome Admin</a></li>
                    <li><a href="/screening">Screening Movies <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li><a href="/movie">Manage Movies <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li><a href="/screening/new">Manage Screens<span class="glyphicon glyphicon-leaf"></span></a></li>
                    <li><a href="/admin/logout">Logout</a></li>

                   <%}else{%>
                    
                    <li><a href="/profile">Welcome <%=admin.username%></a></li>
                    <li><a href="/profile">Profile <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                   
                    <li><a href="/admin/logout">Logout</a></li>

                   <%};%>
                    
                    
                   
                  </ul>  
               </div>
               
          </div>
    
</nav>
<div class="container">
          <% if(error && error.length>0){ %>
          <div class="alert alert-danger" role="alert">
               <%=error%>
          </div>
          <% } %>
     
          <% if(success && success.length>0){ %>
          <div class="alert alert-success" role="alert">
                    <%=success%>
               </div>
          <%}%>
     </div>