<%include ../header%>
<div class="container">
	<div class="jumbotron">
		<h2>Sign Up into Admin</h2>
	</div>
	<div>
		<form>
			<div class="form-group">
				<input type="text" name="username" placeholder="username">
			</div>
		</form>
	</div>
</div>
<%include ../footer%>