<%include ../header.ejs%>
<div class="container" style="text-align: center;">
	<div class="jumbotron">
		<h1>Add new movies here</h1>

	</div>
	
	
<form class="form-horizontal" style="text-align: center;" action="/movie/create" method="POST">
	<div class="form-group"><label></label><input type="text" name="name" placeholder="name"></div>
	<div class="form-group"><label></label><input type="text" name="img" placeholder="img"></div>
	<div class="form-group"><label></label><input type="text" name="director" placeholder="director"></div>
	<div class="form-group"><label>Summary:</label><textarea rows="10" cols="50" name="summary"></textarea></div>
	<div class="form-group"><label></label><input type="text" name="release" placeholder="release"></div>
	<div class="form-group"><label></label><input type="text" name="duration" placeholder="duration"></div>
	<div class="form-group"><label></label><input type="text" name="ratings" placeholder="ratings"></div>
	<div class="form-group"><label></label><button class="btn btn-large btn-primary">Submit</button></div>
</form>
</div>


<%include ../footer.ejs%>